{% extends "_layout.njk" %}

{% block content %}
    <form action="/auth" method="post">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-heading-xl">
                Sign In
            </h1>
        </legend>

        {{ callbacks | safe }}

        <button type="submit" class="govuk-button govuk-!-margin-right-1">
            Continue
        </button>
    </form>
{% endblock %}
