{% extends "_layout.njk" %}

{% block content %}
    <form action="/auth" method="post">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
        <h1 class="govuk-heading-xl">How do you want to sign in?
            <span class="govuk-caption-m">You’ll need a Government Gateway or Google account and a mobile phone to<br>create a DWP account and sign in.</span>
        </h1>
        </legend>

        {{ callbacks | safe }}

        <button type="submit" class="govuk-button govuk-!-margin-right-1">
            Continue
        </button>
    </form>
{% endblock %}
