{% set fieldLabel = "1" %}
{% set fieldHint = "2" %}
{% set fieldSize = 'govuk-input--width-10' %}
{% if prompt == 'One Time Password' %}
    {% set fieldLabel = "Enter SMS code" %}
    {% set fieldHint = "This should arrive with 2-3 minutes." %}
    {% set fieldSize = 'govuk-input--width-10' %}
{% endif %}
<div class="govuk-form-group">
    <div class="govuk-form-group">
        <label class="govuk-label" for="input-{{ callbackIndex }}">{{ fieldLabel }}</label>
        <span id="event-name-hint" class="govuk-hint">{{ fieldHint }}</span>
        <input class="govuk-input {{ fieldSize }}" type="password" id="input-{{ callbackIndex }}" name="callbacks[{{ callbackIndex }}]" />
    </div>
</div>
