{% extends "_layout.njk" %}
{% from "button/macro.njk" import govukButton %}

{% block content %}
<div class="govuk-grid-row">

    <h1 class="govuk-heading-xl">Scan Google QR code
        <span class="govuk-caption-m">You’ll need to scan this code with your Google Authenticator app.</span>
    </h1>


    <p class="govuk-body">[[ QR CODE ]]</p>

    {{ govukButton({
    text: "Continue"
    }) }}
    <div class="govuk-grid-column-two-thirds">
    </div>
</div>
{% endblock %}
