{% extends "_layout.njk" %}
{% from "details/macro.njk" import govukDetails %}
{% from "button/macro.njk" import govukButton %}
{% block content %}
<h1 class="govuk-heading-xl">ForgeRock PoC</h1>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <details class="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              View pages
            </span>
            </summary>
            <div class="govuk-details__text">
                <ul>
                    <li><a href="additional-information">Additional information</a></li>
                    <li><a href="profile">Profile</a></li>
                    <li><a href="duplicate-gateway-account">Duplicate account</a></li>
                    <li><a href="select-mfa">Select MFA</a></li>
                    <li><a href="scan-qr-code">Scan QR code</a></li>
                    <li><a href="google-authenticator-code">Google code</a></li>
                    <li><a href="enter-otp">Enter SMS OTP</a></li>
                    <li><a href="todolist">To do list</a></li>
                    <li><a href="eligibility">Outside the UK</a></li>
                </ul>
            </div>
        </details>
        {{ govukButton({
        text: "Start now",
        href: "auth",
        classes: "govuk-button"
        }) }}
    </div>

    <div class="govuk-grid-column-one-third"></div>
</div>
{% endblock %}
