{% extends "_layout.njk" %}

{% block content %}
<div class="govuk-grid-row">

    <h1 class="govuk-heading-xl">To do list</h1>
    <div class="govuk-grid-column-two-thirds">

        <ul class="govuk-list govuk-list--bullet">
            <li>Create account</li>
            <li>Report change of address</li>
            <li>Report income change</li>
        </ul>
    </div>
</div>
{% endblock %}
