{% extends "_layout.njk" %}
{% block content %}
<h1 class="govuk-heading-xl">Duplicate Government Gateway email address
</h1>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">It looks like you have already created a DWP account via Government Gateway with this email address.
        You will need to use the Government Gateway account you originally logged in with in order to continue. </p>
        <p class="govuk-body"><a href="/signout">Sign out of Government Gateway</a></p>
    </div>
    <div class="govuk-grid-column-one-third"></div>
</div>
{% endblock %}
