{% from "details/macro.njk" import govukDetails %}

{% extends "_layout.njk" %}

{% block content %}

  <h1 class="govuk-heading-xl">
            Choose how we authenticate you
    </h1>

  <form action="/dwpauth/pr/process" method="post" id="input_form" name="input_form">

    {{ callbacks | safe }}

    <button type="submit" class="govuk-button govuk-!-margin-right-1">
            Confirm choice
        </button>
  </form>

{% endblock %}