{% extends "_layout.njk" %}

{% block content %}
    <div class="main">
        <div>
            <h1 class="govuk-heading-xl">Create a new password</h1>
            <p class="govuk-body-l">Your password must be 8 characters long.</p>
        </div>
        <div class="form-group">
            <p>It also must contain:</p>
        </div>
        <ul class="govuk-list">
            <li>1 upper case letter</li>
            <li>1 lower case letter</li>
            <li>1 number</li>
            <li>1 special character (e.g '!', '?' or '%')</li>
        </ul>

        <p class="form-group">Example password: Bu22??as</p>
    </div>
    <form action="{{relativePath}}/dwpauth/pr/process" method="post" id="input_form">

        {{ callbacks | safe }}

        <button type="submit" class="govuk-button govuk-!-margin-right-1">
            Send code
        </button>
    </form>

    <script type="text/javascript">
        $(function () {
            $('#input_form').submit(function (e) {
                $('#input_form').validate(validationRules);
                if (!$('#input_form').valid()) {
                    e.preventDefault();
                }
            });
        });
        var validationRules = {
            onfocusout: false,
            onkeyup: false,
            rules: {
                "callbacks[0]": {
                    required: true,
                    minlength: 8,
                    pattern: /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{8,}/,
                    notEqual: "Bu22??as"
                },
                "callbacks[1]": {
                    equalTo: '#input-0'
                }
            },
            messages: {
                "callbacks[0]": {
                    required: 'Enter the password you’d like to use',
                    minlength: 'Your password needs to be at least 8 characters long.',
                    pattern: 'Your password needs to include 1 or more upper case letters, lower case letters, numbers and special characters (e.g \'!\', \'?\' or \'%\').',
                    notEqual: 'Do not use example password'
                },
                "callbacks[0]": {
                    equalTo: 'Your passwords don\'t match. Enter them again.'
                }
            }
        }
    </script>
{% endblock %}