{% extends "_layout.njk" %}

{% block content %}
    <div>
        <h1 class="govuk-heading-xl">Set up your smartphone or tablet </h1>
        <p class="govuk-body-l">You need to:</p>
        <ol class="govuk-list govuk-list--number">
            <li>Download an authenticator app (such as Google Authenticator or Microsoft Authenticator)</li>
            <li>
                Scan this QR code using the app:<br>
                <img src="{{ qrImage }}" style="width: 200px; height: 200px;"/>
            </li>
            <li>Check the app for your 6 digit access code. The code refreshes every 30 seconds.</li>
        </ol>
        <form action="{{relativePath}}/dwpauth/signup/process" method="post" id="input_form">
            <div style="display: none;">
                {{ callbacks | safe }}
            </div>
            <button type="submit" class="govuk-button govuk-!-margin-right-1">
            Continue
        </button>
        </form>
    </div>
    <script type="text/javascript">
        $(function () {
            $('#input_form').submit(function (e) {
                $('#input_form').validate(validationRules);
                if (!$('#input_form').valid()) {
                    e.preventDefault();
                }
            });
        });
        var validationRules = {
            onfocusout: false,
            onkeyup: false,
            rules: {
                "callbacks[0]": {
                    required: true,
                    minlength: 8,
                    pattern: /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{8,}/,
                    notEqual: "Bu22??as"
                },
                "callbacks[1]": {
                    equalTo: '#input-0'
                }
            },
            messages: {
                "callbacks[0]": {
                    required: 'Enter the password you’d like to use',
                    minlength: 'Your password needs to be at least 8 characters long.',
                    pattern: 'Your password needs to include 1 or more upper case letters, lower case letters, numbers and special characters (e.g \'!\', \'?\' or \'%\').',
                    notEqual: 'Do not use example password'
                },
                "callbacks[0]": {
                    equalTo: 'Your passwords don\'t match. Enter them again.'
                }
            }
        }
    </script>
{% endblock %}