{% extends "_layout.njk" %}

{% block content %}
    <div id="signup-set-mfachoice">

        <div id="set-mfachoice">
            <h1 class="heading-large">
            Would you like to use an app as a backup login?
        </h1>
        </div>
    </div>
    <form action="{{relativePath}}/dwpauth/process" method="post">

        {{ callbacks | safe }}

        <button type="submit" class="govuk-button govuk-!-margin-right-1">
            Continue
        </button>
    </form>
{% endblock %}