{% extends "_layout.njk" %}

{% block content %}

    <h1 class="govuk-heading-xl">
            Would you like to use an app as a backup login?
        </h1>

    <form action="{{relativePath}}/dwpauth/signup/process" method="post">

        {{ callbacks | safe }}

        <button type="submit" class="govuk-button govuk-!-margin-right-1">
            Continue
        </button>
    </form>
{% endblock %}