{% from "details/macro.njk" import govukDetails %}

{% extends "_layout.njk" %}

{% block content %}

    <h1 class="govuk-heading-xl">
            Sign in through DWP Authenticate
        </h1>

    <div class="govuk-body-l">
        <p>To use the Provider Referrals and Payments system, you need to prove it’s you signing in.</p>
    </div>

    <div class="govuk-body">
        <p>You’ll need the mobile phone linked to your DWP Authenticate account to do this.</p>
    </div>
    <form action="{{relativePath}}/dwpauth/signin/process" method="post" id="input_form" name="input_form">

        {{ callbacks | safe }}

        <button type="submit" class="govuk-button govuk-!-margin-right-1">
            Continue
        </button>
    </form>

    <h2 class="govuk-heading-m">Problems signing in</h2>

    <a class="govuk-link govuk-heading-m" href="/dwpauth/pr/start">I forgot my password</a>

    {{ govukDetails({
  summaryText: "I forgot my email address",
  text: "Contact your organisation. They can help."
}) }}

    {{ govukDetails({
  summaryText: "I don't have the mobile phone linked to my account",
  text: "Contact your organisation. They can help."
}) }}

    <script type="text/javascript">
        $(function () {
            $('#input_form').submit(function (e) {
                $('#input_form').validate(validationRules);
                if (!$('#input_form').valid()) {
                    e.preventDefault();
                }
            });
        })
        var validationRules = {
            onfocusout: false,
            onkeyup: false,
            rules: {
                "callbacks[0]": {
                    required: true,
                    email: true
                },
                "callbacks[1]": {
                    required: true
                }
            },
            messages: {
                "callbacks[0]": {
                    required: "Email address is required",
                    email: "Enter a valid email address"
                },
                "callbacks[1]": {
                    required: "Password is required"
                }
            }
        }
    </script>
{% endblock %}