{% from "details/macro.njk" import govukDetails %}

{% extends "_layout.njk" %}

{% block content %}
    <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title"> You are now signed up </h1>
    </div>
    <h2 class="govuk-heading-m">
        Using the Provider Referrals and Payments service
    </h2>
    <p class="govuk-body-l">
        You’ll be able to access this service soon. We’ll send you an email when you can.
    </p>

{% endblock %}