{% extends "_layout.njk" %}

{% block content %}
    <div id="signup-start-page">

        <div id="set-password">
            <h1 class="heading-large">
            Create a password
        </h1>
        </div>
        <div class="form-group">
            <p>
                Your password must be at least 8 characters long.
            </p>
        </div>
        <div class="form-group">
            It also must contain at least:
            </p>
    </div>
    <ul class="list list-bullet">
        <li>1 upper case letter</li>
        <li>1 lower case letter</li>
        <li>1 number</li>
        <li>1 special character (e.g '!', '?' or '%')</li>
    </ul>
    <div class="form-group">
        <p>Example password: Bu2?alfd</p>
    </div>
</div>
<form action="{{relativePath}}/dwpauth/process" method="post">
    {# <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
        <h1 class="govuk-heading-xl">
                Sign In
            </h1>
    </legend> #}

    {{ callbacks | safe }}

    <button type="submit" class="govuk-button govuk-!-margin-right-1">
            Continue
        </button>
</form>
{% endblock %}